{% extends 'base.html' %} {% block content %}
<div class="flex flex-col justify-center items-center p-4">
  <h1 class="text-4xl mb-4">PasteME</h1>
  <p class="text-gray-400 text-center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu tristique
    lorem. Suspendisse ut mauris dignissim, viverra ligula sit amet, aliquam
    risus. Sed molestie nunc eu felis sodales, in facilisis risus fermentum.
    Proin semper, diam eget pharetra viverra, justo ex tristique tellus, ac
    fermentum turpis ligula vel arcu. Vestibulum aliquam dapibus nisl non
    commodo. Praesent fermentum porttitor gravida. Etiam ullamcorper erat in
    erat sodales, sed lacinia dolor lobortis. Donec luctus in neque non egestas.
    Aenean laoreet nisi nulla, id luctus dolor pellentesque nec. Nullam
    dignissim auctor urna eu luctus. Maecenas sapien ante, porta sed ante sit
    amet, ullamcorper scelerisque leo. Suspendisse et mauris tortor. Donec
    posuere nec nulla sed suscipit. Phasellus eget justo at tortor finibus
    luctus.
  </p>
</div>
{% endblock content %}
